filebeat.inputs:

- type: log
  paths:
    - "{{ app_logs_path }}/*/logs/debug.log"
    - "{{ app_logs_path }}/*/logs/warn.log"
    - "{{ app_logs_path }}/*/logs/analytics.log"
{% for item in filebeat_extra_linelogs %}
    - "{{ item }}"
{% endfor %}
  fields:
    logzio_codec: plain
    token: {{ filebeat_logz_token }}
    type: apache
    app_env: {{ app_environment }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
  registry_file: /var/lib/filebeat/registry

- type: log
  paths:
    - "{{ app_logs_path }}/*/logs/error.log"
  fields:
    logzio_codec: plain
    token: {{ filebeat_logz_token }}
    type: apache
    app_env: {{ app_environment }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
  registry_file: /var/lib/filebeat/registry
  multiline.pattern: ^\20
  multiline.negate: true
  multiline.match: after

output:

  logstash:
    hosts: ['{{ filebeat_logz_logstash_host }}']
    ssl:
      certificate_authorities: ["{{ filebeat_ssl_dir }}/{{ filebeat_ssl_certificate_file | basename }}"]

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
