filebeat.inputs:

- type: log
  paths:
    - "{{ app_logs_path }}/*/*.log"
{% for item in filebeat_extra_linelogs %}
    - "{{ item }}"
{% endfor %}
  fields:
    logzio_codec: plain
    token: {{ filebeat_logz_token }}
    type: apache
    app_env: {{ app_environment }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
  registry_file: /var/lib/filebeat/registry

- type: log
  paths:
    - "{{ app_logs_path }}/*/error.log"
    - "{{ app_logs_path }}/*/cli-error.log"
  fields:
    logzio_codec: plain
    token: {{ filebeat_logz_token }}
    type: apache
    app_env: {{ app_environment }}
  fields_under_root: true
  encoding: utf-8
  ignore_older: 3h
  registry_file: /var/lib/filebeat/registry
  multiline.pattern: ^\20
  multiline.negate: true
  multiline.match: after

output:

  logstash:
    hosts: ['{{ filebeat_logz_logstash_host }}']
    ssl:
      certificate_authorities:
{% for cert in filebeat_ssl_certificate_files %}
         - "{{ filebeat_ssl_dir }}/{{ cert | basename }}"
{% endfor %}

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
